/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #147976;

 * {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;



  background: rgba(255,175,75,1);
  background: -moz-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(222,179,71,1) 78%, rgba(222,179,71,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,175,75,1)), color-stop(78%, rgba(222,179,71,1)), color-stop(100%, rgba(222,179,71,1)));
  background: -webkit-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(222,179,71,1) 78%, rgba(222,179,71,1) 100%);
  background: -o-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(222,179,71,1) 78%, rgba(222,179,71,1) 100%);
  background: -ms-linear-gradient(left, rgba(255,175,75,1) 0%, rgba(222,179,71,1) 78%, rgba(222,179,71,1) 100%);
  background: linear-gradient(to right, rgba(255,175,75,1) 0%, rgba(222,179,71,1) 78%, rgba(222,179,71,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#deb347', GradientType=1 );


  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}
.nav{
  display: block;
  height: 40px;
  background-color: rgba(40,40,40,0.3);

}
.nav_info{
  text-align: right;
  padding: 5px;
  color:#fcfcfc;
}
.nv_signout, .nv_user{
  padding: 5px 10px;
  display: inline-block;
}

#notice {
  text-align: center;
  font-size: 0.8em;
  color: $dark;
  font-weight: 100;
  border: 1px solid $white_opaque;
  border-radius: 5px;
  display: block;
  margin: 1em 25%;
  padding: 0.5em 1em;
}

.container {
  width: 50%;
  max-width: 650px;
  background: $white_opaque;
  margin: 3em auto 0 auto;
  border-radius: 7px;
  -webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
  box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
  padding: 1em;
}


.todo_list_title {
  text-align: center;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: white;
  margin: 0;
  margin-top: 10px;
  a {
    text-decoration: none;
    color: white;
    transition: all .4s ease-in-out;
    &:hover {
      opacity: 0.4;
      border-radius: 10px;
      padding: 5px;
      color: white;
    }
  }
}

a:hover {
  opacity: 0.4;
  border-radius: 10px;
  padding: 4px 10px;
}
.devise_text{
  font-size: 1.3em;
  padding: 5px;
}
.todo_list_sub_title {
  margin: 1.2em 0 3em 0;
  text-align: center;
  font-size: 1.1em;
  color: $dark;
  font-weight: 100;
}

.index_row {
  padding: 2em;
  border-bottom: 1px solid rgba(250,250,250, .3);
  .todo_list_sub_title {
    margin-bottom: 0;
  }
}

#todo_items_wrapper {
  .row {
    width: 100%;
    border-top: 1px solid rgba(250,250,250, .3);
    border-bottom: 1px solid rgba(250,250,250, .3);
    .complete {
      width: 10%;
      float: left;
      text-align: center;
      border-right: 1px solid rgba(250,250,250, .3);
      padding: 0.8em 0em;
      font-size: 2em;
    }
    .todo_item {
      width: 80%;
      float: left;
      p {
        margin: 0;
        padding: 1em;
        color: $dark;
        font-weight: 100;
        font-size: 1.3em;
      }
    }
    .trash {
      width: 10%;
      float: left;
      text-align: center;
      border-left: 1px solid rgba(250,250,250, .3);
      padding: 1em 0;
      font-size: 2em;
    }
    i {
      color: #047976;
      transition: all .4s ease-in-out;
      &:hover {
        opacity: 0.4;
        border-radius: 10px;
        color: white;
      }
    }
  }
  #form {
    margin-top: 2em;
    padding: 0 5%;
    input[type="text"] {
      width: 72%;
      margin-right: 2%;
      display: inline-block;
      outline: none;
      background: rgba(250,250,250,.4);
      border: none;
      height: 40px;
      border-radius: 4px;
      padding: 1em 2em;
    }
    input[type="submit"] {
      background: rgba(250,250,250,.4);
      outline: none;
      border: none;
      height: 40px;
      border-radius: 4px;
      width: 25%;
      display: inline-block;
      transition: all .4s ease-in-out;
      cursor: pointer;
      &:hover {
        background: $dark;
      }
    }
    ::-webkit-input-placeholder { color: $dark; }
  }
}
input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
label{
  font-size: 1em;
}
.links {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  color: #047976;
  padding: 5px;
  a:hover{
    color: white;
  }
}
.links a{
  color: #047976;
  margin-top: 10px;
}

.forms {
  padding: 10px 20px;
  margin-top: 20px;
}
label {
  color: $dark;
}
input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
textarea {
  height: 200px;
}

.btn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover,.btn:active, .btn:focus {
  background: #43A047;
}
.alert{
  color: #FA0000;
  font-size: 16px;
  text-align: center;
}
.field_with_errors {
  padding: 0px;
  display: block;
}
.field_with_errors label{
  color: red;
}
::-webkit-input-placeholder { color: $dark; }
